/* Mobile Device */
@media screen and (max-width: 425px) {
  /* Nav - Start */
  .navbar {
    flex-direction: column;
    padding: 0;
    box-shadow: none;
  }
  .nav-title,
  .nav-menu {
    width: 80%;
  }
  .nav-title {
    text-align: center;
    justify-content: center;
  }
  .nav-menu {
    margin-top: -5px;
    margin-bottom: 15px;
  }
  .nav-menu-list {
    flex-direction: column;
  }
  .nav-menu-follow {
    margin: 0 auto;
  }
  /* Nav - End */
  /* Banner - Start */
  .banner-container {
    flex-direction: column;
  }

  .banner-content-container {
    width: 100%;
  }

  .banner-image {
    width: 100%;
  }

  .banner-image img {
    width: 100%;
  }

  .banner-content {
    margin-left: 0px;
  }

  .banner-title-1 {
    text-align: center;
  }
  .banner-title-2 {
    text-align: center;
  }
  .banner-description {
    margin-left: 10px;
  }
  /* Banner - End */
  /* Online Games - Start */
  .online-games-card-container {
    border: 1px solid darkcyan;
    /* display: flex; */
    grid-template-columns: repeat(1, 1fr);
    margin-top: 40px;
  }

  /* Online Games - End */

  /* Play Instantly Section - Start */
  .play-container {
    flex-direction: column;
  }

  .play-content-container {
    width: 100%;
  }

  .play-content {
    margin: 0;
  }
  .play-title {
    text-align: center;
  }

  .play-description {
    text-align: center;
  }

  .play-image {
    width: 100%;
  }

  .play-image-2 {
    top: 50%;
    right: 50%;
  }

  /* Play Instantly Section - End */

  /* Games Section - Start */
  .game-container {
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    align-items: center;
    justify-content: center;
  }
  .game {
    gap: 2px;
    padding: 0px;
    padding-left: 2px;
    margin: 1px;
  }

  .game img{
    margin: auto 0;
    height: 40px;
    width: 40px;
  }
  .game p{
    word-wrap: break-word;
  }
  /* Games Section - End */
}
