/* Shared Styles - Start*/
body {
  font-family: "Work Sans", sans-serif;
  margin: 0;
  box-sizing: border-box;
}

.text-style-color-1 {
  color: #ff42a5;
}

.primary-title-color-1 {
  color: #0b0223;
}

.primary-title-color-2 {
  background-image: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  color: transparent;
  background-clip: border-box;
  -webkit-background-clip: text;
}

.primary-description-color {
  color: #534c64;
}

.primary-btn {
  border-radius: 48px;
  background: linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%);
  color: #fff;
  font-size: 1.4rem;
  font-weight: 600;
  padding: 21px 40px;
  border: 0;
}
/* Shared Styles - End*/

/* Heading Styles - Start*/
.header {
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
/* Navbar Styles - Start*/
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 240px;
  gap: 2rem;
}
.nav-title {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  width: 50%;
}
.nav-logo-img {
  width: 86px;
  height: 40px;
}
.nav-menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 30px;
  width: 50%;
}
.nav-title-text {
  font-family: Work Sans;
  font-size: 2.8rem;
  font-weight: 700;
}
.nav-menu-list {
  display: flex;
  align-items: center;
  /* justify-content: space-around; */
  gap: 30px;
}

.nav-menu-list > li {
  list-style: none;
}

.nav-menu-font-style {
  color: #3c354f;
  font-size: 1.2rem;
  font-weight: 500;
}
.nav-menu-follow {
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
  padding: 18px 24px;
}
.fa-brands-one {
  margin-left: 1rem;
}
.fa-brands {
  margin-right: 1rem;
}

.fa-brands:hover {
  cursor: pointer;
}
/* Navbar Styles - End*/
/* Heading Styles - End*/

/* Main Styles - Start */
/* Banner - Start */
.banner-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 40px;
}

.banner-content-container {
  width: 50%;
}
.banner-image {
  width: 50%;
}

.banner-content {
  margin-left: 240px;
}

.banner-title-1 {
  color: #0b0223;
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 5px;
}
.banner-title-2 {
  font-size: 5.9rem;
  font-weight: 800;
  margin: 0;
}

.banner-description {
  font-size: 20px;
  font-weight: 500;
}
/* Banner - End */

/* Online Games - Start */
.online-games-container {
  max-width: 1400px;
  margin: 30px auto;
}

.online-games-title {
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 0;
}

.online-games-description {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 2rem;
  margin-top: 1rem;
}

.online-games-card-container {
  /* display: flex; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;
  margin-top: 40px;
}

/* .online-games-card {
  
} */

.online-games-card img {
  width: 90%;
  margin: 10px auto;
  display: block;
}

.online-games-card p {
  width: 90%;
  margin: 10px auto;
  display: block;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 2rem;
}

/* Online Games - End */

/* Play Instantly Section - Start */
.play-container {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  margin-top: 120px;
  align-items: center;
  justify-content: space-between;
}

.play-content-container {
  width: 50%;
  /* text-align: right; */
}

.play-content {
  margin: 160px 120px 0;
}

.play-image {
  width: 50%;
  /* height: 80%; */
  position: relative;
}

.play-title {
  text-align: right;
  font-size: 3rem;
  font-weight: 700;
  line-height: 3.5rem;
}

.play-description {
  text-align: right;
  font-size: 1.1rem;

  font-weight: 400;
  line-height: 2rem;
}

.play-image-1 {
  width: 75%;
  margin-left: 4.5rem;
}

.play-image-2 {
  border-radius: 8px;
  padding: 42px 28px;
  width: 40%;
  position: absolute;
  top: 55%;
  right: 60%;
}
/* Play Instantly Section - End */

/* Games Section - Start */
.game-container {
  max-width: 1400px;
  margin: 0 auto;
  margin-top: 150px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  background: linear-gradient(
    90deg,
    rgba(255, 66, 165, 0.03) 0%,
    rgba(255, 66, 165, 0.03) 100%
  );
}

.game {
  display: flex;
  gap: 5px;
  /* border: 2px solid red; */
  border-radius: 50px;
  padding: 10px 20px 10px 10px;
  margin-top: 30px;
  background: #fff;
}

.game p {
  color: #0b0223;
  font-size: 1.2rem;
  font-weight: 600;
}

.game:hover {
  border: 2px solid #ff42a5;
  cursor: pointer;
}

.game p:hover {
  color: #ff42a5;
}
/* Games Section - End */
/* Main Styles - End */

/* Footer - Start */
.footer {
  margin-top: 50px;
  background: #0b0223;
}
.footer-heading {
  margin-top: 80px;
  display: flex;
  align-items: center;
  gap: 1.2rem;
  color: white;
  justify-content: center;
  margin-bottom: 35px;
  padding-top: 80px;
}

.footer-menu {
  max-width: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  margin: 0 auto;
  flex-wrap: wrap;
  margin-bottom: 60px;
}

.footer-menu-style {
  color: #fff;
  text-align: center;
  font-family: Work Sans;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  list-style: none;
}
.footer-icon {
  max-width: 430px;
  display: flex;
  justify-content: center;
  margin: 0px auto;
  gap: 20px;
  margin-bottom: 75px;
  flex-wrap: wrap;
}

.footer-icon > .fa-brands {
  font-size: 2.5rem;
}

.footer-text {
  max-width: 690px;
  margin: 0 auto;
  display: flex;
  gap: 60px;
  margin-bottom: 35px;
}

.footer-text-style {
  list-style: none;
  color: rgba(255, 255, 255, 0.6);
  font-size: 1rem;
  font-weight: 500;
}

.footer-copyright {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  color: rgba(255, 255, 255, 0.6);
  font-size: 1rem;
  font-weight: 500;
  padding: 10px;
  padding-bottom: 100px;
}
/* Footer - End */
